$color-black: #000;
$color-white: #fff;

$color-main: #63707e;
$color-vis-vis: #fae596;
$color-light-sea-green: #3fb0ac;
$color-nordic: #173e43;

$color-red-ruby: #cc0000;
$color-orange-html5: #f16528;
$color-blue-css3: #008fd5;
$color-blue-wordpress: #00a7da;

$color-black-transparent: rgba(0,0,0,.05);
