header
	padding-top: 62px
	background-color: $color-orange

	.logo
		background-color: $color-light-gray

	.contact
		position: absolute
		right: 10px

		p
			margin: 0
			font-size: 12px
			text-align: right
			color: $color-white

.top-bar ul,
.top-bar
	background-color: $color-dark-gray
	a
		color: $color-white

	li
		&:hover
			background-color: $color-black
			a
				color: $color-hover-gray
