.quoteSideInfo
  background-color: $color-bg-gray
  padding: 15px
  font-size: 12px
  border-radius: 3px
  margin-bottom: 15px
  .row
    border-bottom: 1px solid $color-orange
    padding: 15px
    &:last-child
      border-bottom: none
    .column
      display: inline-block
      vertical-align: middle
      font-size: 12px
      &:nth-child(2)
        padding-left: 10px
