.get-a-quote
  span
    margin-top: 33px
    font-family: 'Pathway Gothic One', sans-serif
    font-size: 45px
  span,
  p
    margin: 0 auto
    text-transform: uppercase
    text-align: center
  p
    margin-bottom: 1 rem

.contactform
  width: 100%
  margin-left: 33px

.thankYou
  display: none
