<div class="columns footer">
  <div class="row">

    <div class="columns large-8 large-offset-2 small-12 social">
      <div class="columns large-3 small-6">
        <a href="https://www.facebook.com/GetTechsdotcom/" target="_blank">
          <i class="fa fa-facebook-square"></i>
          Facebook
        </a>
      </div>

      <div class="columns large-3 small-6">
        <a href="https://plus.google.com/104083651330010069904" target="_blank">
          <i class="fa fa-google-plus-square"></i>
          Google Plus
        </a>
      </div>

      <div class="columns large-3 small-6">
        <a href="https://www.linkedin.com/company/gettechs.com" target="_blank">
          <i class="fa fa-linkedin-square"></i>
          LinkedIn
        </a>
      </div>

      <div class="columns large-3 small-6">
        <a href="https://twitter.com/GetTechs" target="_blank">
          <i class="fa fa-twitter-square"></i>
          Twitter
        </a>
      </div>

    </div>

    <div class="row info">
      <div class="small-9 small-centered columns">
        <i aria-hidden="true" class="fa fa-globe"></i>
        <span>206 N. Towne Ave Pomona, CA 91767</span>
      </div>
      <div class="small-9 small-centered columns phone">
        <i aria-hidden="true" class="fa fa-phone"></i>
        <a href="tel:+1-888-203-7358">+1-888-203-7358</a>
        <a href="tel:+1-909-643-2743">+1-909-643-2743</a>
      </div>
    </div>

    <div class="row small-12">
      <div class="small-3 small-centered columns">
        <span>copyright
        <i aria-hidden="true" class="fa fa-copyright"></i>
        GetTechs</span>
    </div>
  </div>

  <div class="row small-12">
    <div class="small-3 small-centered columns developer">
      <a href="http://thecodingsmith.com/"target="_blank">Developed by TheCodingSmith</a>
    </div>
  </div>

</div>
