<div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top spin-out">
  <div class="top-bar-left">
    <ul class="vertical medium-horizontal menu dropdown menu" data-dropdown-menu>
      <li class="home-nav"><a href="index.html">Home</a></li>
      <li class="quote-nav"><a href="/get-a-quote.html">Get a Quote</a></li>
      <li class="gallery-nav"><a href="/previous-work-gallery.html">Gallery</a></li>
      <li class="contact-nav"><a href="/contact-us.html">Contact Us</a></li>
      <li class="about-nav"><a href="/about-us.html">About Us</a></li>
    </ul>
  </div>
</div>
