<div class="row quoteCards">
  <div class="column small-12 large-4">
    <div class="card" style="width: 300px;">
      <div class="card-divider">
        <span>RESEDENTIAL SERVICES</span>
      </div>
      <img src="/assets/img/stock-photo-terrace-cleaning-with-high-pressure-161773148.jpg">
    </div>
  </div>
  <div class="column small-12 large-4">
    <div class="card" style="width: 300px;">
      <div class="card-divider">
        <span>COMMERCIAL SERVICES</span>
      </div>
      <img src="/assets/img/stock-photo-utility-service-company-man-worker-cleaning-the-street-with-water-pressure-at-city-288873899.jpg">
    </div>
  </div>
  <div class="column small-12 large-4">
    <div class="card" style="width: 300px;">
      <div class="card-divider">
        <span>INDUSTRIAL SERVICES</span>
      </div>
      <img src="/assets/img/stock-photo-washing-232312024.jpg">
    </div>
  </div>
</div>
