<div class="quoteSideInfo">

  <div class="row">
    <div class="column small-12 large-4">
      Business  Address:
    </div>
    <div class="column small-12 large-8">
       206 N. Towne Ave Pomona, CA 91767
    </div>
  </div>

  <div class="row">
    <div class="column small-12 large-4">
      Phone Number:
    </div>
    <div class="column small-12 large-8">
       (909)343-55818
    </div>
  </div>

  <div class="row">
    <div class="column small-12 large-4">
      Email Address:
    </div>
    <div class="column small-12 large-8">
       email@address.com
    </div>
  </div>

</div>
