<div class="quoteSideInfo">

  <div class="column small-12 medium-6">
    <div class="row">
      <div class="column small-12">
        <h6>Resedential</h6>
      </div>
      <div class="column small-12">
        Our methods bring the home and brick back to life for.
        <b>services:</b>
        <ul>
          <li>Mold & Mildew removal</li>
          <li>Sidewalks</li>
          <li>Drive ways</li>
          <li>Pool areas</li>
          <li>Patios</li>
          <li>Siding & Brick</li>
          <li>Stucco</li>
          <li>Exterior Insulated and Finished System (EIFS)</li>
          <li>Vinyl</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="column small-12 medium-6">
    <div class="row">
      <div class="column small-12">
        <h6>Commercial</h6>
      </div>
      <div class="column small-12">
        A deep restorative clean to buildings and surrounding areas.
        <b>services:</b>
        <ul>
          <li>Public/Private Schools</li>
          <li>Churches</li>
          <li>Gas Stations</li>
          <li>Private Store Fronts</li>
          <li>Townhome Neighborhoods</li>
          <li>Apartment Complexes</li>
          <li>Mid//High Rise Building</li>
          <li>Student Housing</li>
          <li>Senior Housing / Living Facilities</li>
          <li>Resort, Hotel & Motel Properties</li>
          <li>Government Properties & Housing</li>
          <li>Entertainment & Sports Complexes</li>
          <li>Hospitals & Universities</li>
          <li>HOA (Home Owners Association) managed property</li>
          <li>And More
        </ul>
      </div>
    </div>
  </div>


</div>
